<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>

    var source = new EventSource("/progress_append");
    source.onmessage = function(event) {
        try{
        var division = (event.data/849);
        $('.progress-bar').css('width', division+'%').attr('aria-valuenow', event.data);
        $('.progress-bar-label').text(event.data+'%');
    }
    catch {
        console.error(error);
    }
        if(event.data == 100){
            source.close();
        }
    }
    </script>
</head>
<body>
	<h2 style="text-align: center;">Adding entries to table...</h2>
	<div class="progress" style="width: 50%; margin: 50px auto;">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; margin: 0 auto">
			<span class="progress-bar-label">0%</span>
		</div>
	</div>
	<button type='button'><a href='http://127.0.0.1:5000/devArea'>Go Back</a></button>
	</br>
	<button type='button'><a href='url_for('viewresults') page_num=1'>View Results</a></button>
</div>
</body>