<html>
{% include "bootstrap/base.html" %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
<div class="classname">
<h1>DEV AREA</h1>
</br>
</br>
<button type="button"><a href="{{url_for('index')}}">Home</a></button>
<button type="button"><a href="{{url_for('droptable')}}">Drop Table</a></button>
<button type="button"><a href="{{url_for('createtable')}}">Create table</a></button>
<button type="button"><a href="{{url_for('addRedditInfo')}}">Add reddit info to table</a></button>
<button type="button"><a href="{{url_for('viewresults', page_num=1, per_page_res=count)}}">View Results</a></button>
<button type="button"><a href="{{url_for('deleteposts')}}">delete from db</a></button>
<button type="button"><a href="{{url_for('unfavpost')}}">Unsave post from Reddit Account</a></button>
<script>
function myFunction() {
    $('.test').on('click', function(e) { pace.start(); });
    $.ajax({ url : "{{url_for('addRedditInfo')}}", type : 'GET'}) 
}
</script>
<button type="button" class="test" onclick="myFunction(), myFunction2()">test</button>
</div>


<script>
function myFunction2() {
    var divsToHide = document.getElementsByClassName("classname");
    var divsToShow = document.getElementsByClassName("bar");
        for(var i = 0; i < divsToHide.length; i++){
        divsToHide[i].style.visibility = "hidden"; // or
        divsToHide[i].style.display = "none"; // depending on what you're doing
    }
        for(var i = 0; i < divsToShow.length; i++){
        divsToShow[i].style.visibility = "visible"; // or
    }
    document.getElementsByClassName("select").innerHTML = "Loading Please Wait..."
}

</script>
<!-- need to change hard coded total value 849 -->
    <script>

    var source = new EventSource("/progress_append");
    source.onmessage = function(event) {
        try{
        var division = Math.ceil((event.data/{{add_post_total}} * 100));
        console.log(division);
        $('.progress-bar').css('width', division+'%').attr('aria-valuenow', division);
        $('.progress-bar-label').text(division+'%');
    }
    catch {
        console.error(error);
    }
        if(division == 100){
            source.close();
            document.getElementById("find").innerHTML = "Complete!";
            var divsToShow = document.getElementsById("go_home");
            for(var i = 0; i < divsToShow.length; i++){
                divsToShow[i].style.visibility = "visible";
        }
    }
    </script>



</br>
</br>
</br>
<div class="bar" style="visibility: hidden;">
<h2 style="text-align: center;">Adding entries to table...</h2>
	<div class="progress" style="width: 50%; margin: 50px auto;">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; margin: 0 auto">
			<span class="progress-bar-label">0%</span>
		</div>
	</div>
</div>	
<h1 id="find"></h1>

<button class="bleh" id="go_home" style="visibility: hidden"><a href="{{url_for('index')}}">Home</a></button>
<!-- <h2 class="select"></h2> -->
<!-- <div class="loader" style="visibility: hidden;margin-left: 50%;"></div> -->


</html>