<html>
<h1>DEV AREA</h1>
</br>
</br>
<button type="button"><a href="{{url_for('index')}}">Home</a></button>
<button type="button"><a href="http://127.0.0.1:5000/droptable">Drop Table</a></button>
<button type="button"><a href="http://127.0.0.1:5000/createtable">Create table</a></button>
<button type="button"><a href="http://127.0.0.1:5000/addRedditInfo">Add reddit info to table</a></button>
<button type="button"><a href="http://127.0.0.1:5000/viewresults">View Results</a></button>
<button type="button"><a href="{{url_for('deleteposts')}}">Change to delete</a></button>
</html>