{% include "bootstrap/base.html" %}
{% include "header.html" %}
</br>
</br>
<body>
{% block content %}

<h1>Hello And Welcome to the Reddit Sorting App!</h1>

</br>
<h2 style="text-align: center;">Top 10 Favorite Subs</h2>



{% for (x,y) in zip(name_list, value_list) %}
<div class="card1">
  <a href="#{{str(x)}}" data-toggle="modal">
  <h3>{{str(x)}}</h3>
  <div class="container1"> 
    <p style="text-align: center;">
    {{str(y)}}
    <br>Posts<br>
    Saved
	</p>
  </div>
</div>
<div class="modal fade" id="{{str(x)}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-image: url('')">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center; color: #b04c41">r/{{str(x)}}</h3>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{desc_list[loop.index0]}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- {{bkgrnd[loop.index0]}} for background of subreddit -->
{% endfor %}




{% include "footer.html" %}


</body>
</html>