{% extends "topnav.html"%}
{% block content %}


</br>
</br>
<body>


<h1>Hello And Welcome to the Reddit Sorting App!</h1>

</br>
<h2 style="text-align: center;">Top 10 Favorite Subs</h2>



{% for (x,y) in zip(name_list, value_list) %}
<div class="card1">
  <a href="#{{str(x)}}" data-toggle="modal">
  <h3 style="text-align: center;">{{str(x)}}</h3>
  <div class="container1"> 
    <p style="text-align: center;">
    {{str(y)}}
    <br>Posts<br>
    Saved
	</p>
  </div>
</div>
<div class="modal fade" id="{{str(x)}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     {% for p,z,a,b in zip(imgkv.keys(), imgkv.values(), altimgkv.keys(), altimgkv.values()) %}
      {% if x == p %}
        {% if z != "" %}
      <div class="modal-header" style="background-image: url({{z}}); background-size:cover;">
        {% else %}
          {% if x == a %}
      <div class="modal-header" style="background-image: url({{b}}); background-size:cover;"> 
        {% else %}
        <div class="modal-header">
        {% endif %}
        {% endif %}
        {% endif %}
      {% endfor %}
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center; color: #b04c41">r/{{str(x)}} {{p}}</h3>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{desc_list[loop.index0]}} {{x}} {{z}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- {{bkgrnd[loop.index0]}} for background of subreddit -->
{% endfor %}




{% include "footer.html" %}

{% endblock %}