<!DOCTYPE html>
<html>
<head>
	<title>Sort by</title>
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}"> -->
	<!-- Change category to date or something else -->
</head>
{% include "topnav.html" %}
<div class="limiter">
   
<body>

<a href="{{url_for('sortby', page_num=t3.page, per_page_res=15, order_by='title', sort_cat=sort_cat )}}"><button type="button" class="btn btn-primary">title</button></a>

</br>
<h1>Posts related to {{sort_cat}}</h1>
	<div class="container-table100">
			<div class="wrap-table100">
				<a href="{{url_for('sortby', page_num=t3.page, per_page_res=15, order_by=order_by, sort_cat=sort_cat )}}"><button type="button" class="btn btn-primary">15</button></a>
				<a href="{{url_for('sortby', page_num=t3.page, per_page_res=30, order_by=order_by, sort_cat=sort_cat )}}"><button type="button" class="btn btn-primary">30</button></a>
					<div class="table">
						<div class="row header">
							<div class="cell">Number</div>
							<div class="cell">Post</div>
							<div class="cell">Link</div>
							<div class="cell">Category</div>
						</div>
						{% for t,i in zip(t3.items, range(per_page, 0, -1)) %}
						<div class="row">
							<div class="cell" data-title="Number">
								{% if t3.page == 1 %}
								{{(t3.page * (per_page+1))-i}}
								{% else %}
								{{(t3.page * (per_page))-(i-1)}}
								{% endif %}
							</div>
							<div class="cell" data-title="Post"><a href="#" data-toggle="modal" data-target="#{{t.id}}">{{t.title}}</div>
							<div class="cell" data-title="Link"><a href="{{t.link}}" target='_blank'>Link</a></div>
							<div class="cell" data-title="Category">{{t.category}}</div>
						</div>
								{% endfor %}
						<nav aria-label="Page navigation example">
							<ul class="pagination" style="margin:1px">
								{% for page in t3.iter_pages(right_edge=1, left_edge=5) %}
									{% if page %}
										<li class="page-item"><a class="page-link" href="{{url_for('sortby', page_num=page, per_page_res=per_page, sort_cat=sort_cat )}}">{{ page }}</a>
									{% else %}
										<li class="page-item"><a class="page-link" href="#">...</a>
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
			</div>
			{% for t in t3.items %}
			<div class="modal fade" id="{{t.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  							<div class="modal-dialog" id="modal{{t.id}}" role="document" style="margin: auto; width: fit-content; max-width: 55%">
    							<div class="modal-content" style="width: fit-content">
    								<div class="modal-header">
    									<h3 class="modal-title" id="exampleModalLabel" style="text-align: center; color: #b04c41">{{t.title}}</h3>
    									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    										<span aria-hidden="true">&times;</span>
    									</button>
    								</div>
    							<div class="modal-body">
    								<pre style="white-space: pre-wrap">{{t.thread_text}}</pre>
								</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    							</div>
								</div>
							</div>
						</div>
						{% endfor %}
</body>
</html>