<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

</head>

<body>

	<div class="container">
		{% for t in t3.items %}
			<div class="alert alert-primary" role="alert">
				{{t.title}}
			</div>

		{% endfor %}
		<nav aria-label="Page navigation example">
		<ul class="pagination">
		
			{% for page in t3.iter_pages(left_edge=3) %}
		{% if page %}
			<li class="page-item"><a class="page-link" href="{{ url_for('test3', page_num=page) }}">{{ page }}</a>
		{% else %}
			...
		{% endif %}
			
	{% endfor %}
	</ul>
			</nav>
</div>
	</body>

	</html>