<html>
<head>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"> -->
{% include "bootstrap/base.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<div id='cssmenu'>
<ul>
   <li> <a href="http://127.0.0.1:5000/"><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>Sort Posts</span></a>
      <ul>
         {% for x in category %}
         <li class='has-sub'><a href='{{url_for("sortby", page_num=1, per_page_res=15, sort_cat=x )}}'><span>{{x}}</span></a></li>
         {% endfor %}
      </ul>
   </li>
   <li class='active has-sub'><a href='#'><span>Update</span></a>
      <ul>
         <li class='has-sub'><a href='{{url_for("updateTableUnsorted", page_num=1, per_page_res=count)}}'><span>Unsorted</span></a></li>
         <li class='has-sub'><a href='{{url_for("updateTable")}}'><span>All Posts</span></a></li>
      </ul>
    </li>
   <li><a href='{{url_for("viewresults", page_num=1, per_page_res=15)}}'><span>View All</span></a></li>
   <li> <a href="{{url_for('devArea')}}"><span>Dev Area</span></a></li>
</ul>
</div>
<body>
{% block content %}
{% endblock %}

