<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
{% include "topnav.html" %}
<div class="limiter">

<br>
<h1>All Unsorted Posts</h1>

		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div id="1" class="cell">Number</div>
							<div class="cell">Post</div>
							<div class="cell">Link</div>
							<div class="cell">Category</div>
							<div class="cell">Change?</div>
						</div>
						{% for post in results2 %}
						<div class="row">
							<div class="cell" data-title="Number">{{loop.index}}</div>
							<div class="cell" data-title="Post">{{post['title']}}</div>
							<div class="cell" data-title="Link"><a href="{{post['link']}}" target='_blank'>Link</a></div>
							<div class="cell" data-title="Category">{{post['category']}}</div>
							<div class="cell" data-title="Change?">
								<form action="{{url_for('updateTableUnsorted')}}" method="POST">
									<select name="{{loop.index}}cat2">
    									{% for categories in categories %}
    										<option value= "{{categories}}" {% if post['category'] == categories %} SELECTED{% endif %}>{{ categories }}</option>
    									{% endfor %}
									</select>
							</div>
						</div>

						{% endfor %}
					</div>
					<button class="btn btn-primary" type="submit" name="name" value="View Tables">Update</button>
					</form>
						
					</br>
<!--<input type ="submit" name="name" value="View Tables">-->

</div>
<br/>

</br>
</br>


</body>
</html>