<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
{% extends "navtest.html" %}

{% block content %}
</br>
<h1>All Posts (unsorted)</h1>
<table class="blueTable">
	<tr>
		<th>Number</th>
		<th>Post</th>
		<th>Link</th>
		<th>Category</th>
		<th>Change?</th>
	</tr>
	{% for post in results %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{post['title']}}</td>
		<td><a href="{{post['link']}}" target='_blank'>Link</a></td>
		<td>{{post['category']}}</td>
		<td>
			<form action="{{url_for('updateTable')}}" method="POST">
				<select name="{{loop.index}}cat">
    				{% for categories in categories %}
    					<option value= "{{categories}}" {% if post['category'] == categories %} SELECTED{% endif %}>{{ categories }}
    					</option>
    				{% endfor %}
				</select>			
		</td>
	</tr>
	{% endfor %}
</table>

<br/>
<input type ="submit" name="name" value="View Tables">
</form>	
</br>
</br>
{% endblock %}
</body>

<!--
<div id="footer">
<p>by Matt</p>
</div>
-->

</html>