<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
{% extends "navtest.html" %}
<body>
{% block content %}

</br>
<table class="blueTable">
	<tr>
		<th>ID</th>
		<th>Post</th>
		<th>Link</th>
		<th>Category</th>
	</tr>
	{% for post in results %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{post['title']}}</td>
		<td><a href="{{post['link']}} target="_blank"">Link</a></td>
		<td>{{post['category']}}</td>
	</tr>
{% endfor %}
</table>	
{% endblock %}	

</br>
</body>	
</html>