<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<body>
</br>
<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">
						<div class="row header">
							<div id="1" class="cell">Number</div>
							<div class="cell">Post</div>
							<div class="cell">Link</div>
							<div class="cell">Category</div>
						</div>
						{% for t,i in zip(t3.items, range(14, 0, -1)) %}
						<div class="row">
							<div class="cell" data-title="Number">
								{{(t3.page * 15)-i}}
							</div>
							<div class="cell" data-title="Post">{{t.title}}</div>
							<div class="cell" data-title="Link"><a href="{{t.link}}" target='_blank'>Link</a></div>
							<div class="cell" data-title="Category">{{t.category}}</div>
						</div>
						{% endfor %}
						<nav aria-label="Page navigation example">
							<ul class="pagination">

								{% for page in t3.iter_pages(left_edge=3) %}
									{% if page %}
									
										<li class="page-item"><a class="page-link" href="{{ url_for('viewresults', page_num=page) }}">{{ page }}</a>
									{% else %}
										...
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
					</div>
			</div>
</br>
</body>	
</html>